:root {
    --accent: #ae358b; /* (urbanize color) */
    --almost-white: #f7f7f7;
    --bg: #fff;
    --bg-footer: #f2f2f2;
    --beige: #ebe9e8;
    --fg-1: #000;
    --fg-2:#4a4a49;
    --fg-3: #767676;
    --grey: #d3cfcd;
    --header-width: 78rem;
    --shadow: rgba(153, 153, 153, .66); /* #999 */
    --width: 70rem;
}
@font-face {
    font-family: 'FunctionPro';
    src: url('/fonts/FunctionPro-Book.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    size-adjust: 115%;
}
@font-face {
    font-family: 'FunctionPro';
    src: url('/fonts/FunctionPro-Demi.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    size-adjust: 115%;
}
/* begin icons */
@font-face {
    font-family: 'icons';
    src: url('/fonts/icons.woff2?1793465') format('woff2');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1rem;
    margin-right: .2rem;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1rem;
    margin-left: .2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-checkbox-checked:before { content: '\e804'; } /* '' */
.icon-play:before { content: '\e806'; } /* '' */
.icon-pause:before { content: '\e807'; } /* '' */
.icon-checkbox:before { content: '\f096'; } /* '' */
/* end icons */
audio { width: 100%; }
body, button, input, textarea {
    font-family: 'FunctionPro';
    line-height: 1.6;
}
button, input, textarea { font-size: 1rem; }
body {
    background-color: var(--bg);
    color: var(--fg-2);
    display: flex;
    flex-direction: column;
/*    font-size: 20px;*/
    margin: 0;
    min-height: 100dvh;
    scroll-behavior: smooth;
}
a {
    color: var(--fg-2);
    cursor: pointer;
    text-decoration: none;
}
a:focus-visible,
a:hover {
    color: var(--fg-3);
}
a.accent { color: var(--accent); }
a.accent:focus-visible,
a.accent:hover { color: var(--fg-2); }
.a__no-underline { text-decoration: none; }
.big_heading {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: initial;
    margin-bottom: 1rem;
    margin-top: .5rem;
    overflow-wrap: break-word;
}
hr {
    border: none;
    border-top: 1px solid #979797;
    height: 0;
}
.hr__light { border-top: 1px solid #d3cfcd; }
img { max-width: 100%; }
small { display: block; }
strong { font-weight: 600; }
.article-panel {
    background-color: var(--almost-white);
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 2rem;
}
.article-panel__abstract { width: 50%; }
.article-panel__info { width: calc(50% - 2rem); }
.article-panel__info-cover { width: 45%; }
.article-panel__info-details { width: 50%; }
.article-panel__info-split {
    display: flex;
    justify-content: space-between;
}
.author_split {
    display: flex;
    font-size: 1.1rem;
}
.author_split a { text-decoration: none; }
.author_split a:hover { color: var(--accent); }
.author_split > div:nth-child(1) { padding: 0 1rem; }
.author_split > div:nth-child(1) span {
    color: var(--accent);
    font-weight: 600;
}
.author_split > div:nth-child(2) { flex-grow: 1; }
.call_out_button {
    border-radius: .8em;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
.call_out_button:not(.inverse) {
    background-color: var(--fg-2);
    border: .2rem solid var(--fg-2);
    color: var(--bg);
    padding: .1em .3em;
}
.call_out_button:not(.inverse):focus-visible,
.call_out_button:not(.inverse):hover {
    background-color: var(--bg);
    color: var(--fg-2);
}
.call_out_button.inverse {
    background-color: var(--bg);
    border: none;
    color: var(--fg-2);
    padding: .3em .5em;
}
.call_out_button.inverse:focus-visible,
.call_out_button.inverse:hover {
    background-color: var(--fg-2);
    color: var(--bg);
}
.call_out_buttons_spaced {
    display: flex;
    flex-flow: wrap;
    column-gap: 2rem;
    row-gap: 1rem;
}
.extra_nav { position: relative; }
.displaced_anchor {
    position: relative;
    top: -11rem;
}
.extra_nav_widget {
    background-color: var(--bg);
    border-top: 1px solid var(--fg-2);
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
}
.extra_nav_widget:not(.active) { display: none; }
.extra_nav_widget a {
    border-bottom: 1px solid var(--fg-2);
    font-size: 1.25rem;
    padding: 0 .2rem;
    text-align: right;
    text-decoration: none;
    white-space: nowrap;
}
.extra_nav_widget a:focus-visible,
.extra_nav_widget a:hover {
    background-color: var(--fg-2);
    color: var(--bg);
}
.extra_nav_widget a.active:not(:focus-visible):not(:hover) { color: var(--accent); }
.feature_landscape p { font-size: 1.2rem; }
.feature_landscape.feature_split > a {
    aspect-ratio: 1.555;
    width: 50%;
}
.feature_landscape .feature_text { width: 50%; }
.feature_landscape:nth-child(2) { margin-top: 2rem; }
@media (max-width: 59.999rem) {
    .feature_landscape.feature_split { flex-direction: column; }
    .feature_landscape.feature_split > a { width: 100%; }
    .feature_landscape .feature_text { width: 100%; }
}
@media (min-width: 42.5rem) {
    .feature_landscape { grid-column: span 2; }
}
@media (min-width: 60rem) {
    .feature_landscape { grid-column: span 4; }
    .feature_landscape:nth-child(even).feature_split > a { order: 1; }
}
.feature_portrait.feature_split > a {
    aspect-ratio: .765;
    width: 50%;
}
.feature_portrait .feature_text { width: 50%; }
@media (max-width: 42.499rem) {
    .feature_portrait.feature_split { flex-direction: column; }
    .feature_portrait.feature_split > a { width: 100%; }
    .feature_portrait .feature_text { width: 100%; }
}
@media (min-width: 42.5rem) {
    .feature_portrait { grid-column: span 2; }
}
.feature_card {
    flex-direction: column;
    grid-column: span 1;
}
.feature_card.feature_split > a {
    aspect-ratio: 1.462;
    width: 100%;
}
.feature_card .feature_text { width: 100%; }
@media (min-width: 60rem) and (max-width: 74.999rem) {
    .feature_card { grid-column: span 2; }
}
.feature_card .text_overlay {
    bottom: 0;
    color: var(--bg);
    display: flex;
    flex-direction: column;
    font-weight: 600;
    justify-content: center;
    left: 0;
    padding-left: 2rem;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    z-index: 2;
}
.feature_card .text_overlay strong {
    display: block;
    font-size: 1.6rem;
}
.feature_card.feature_special.feature_split > a {
    aspect-ratio: unset;
    height: 6rem;
}
.feature_card.feature_special.feature_split > a:focus-visible .tone_overlay,
.feature_card.feature_special.feature_split > a:hover .tone_overlay {
    background-color: var(--grey);
}
.feature_card.feature_special.feature_split > a:focus-visible img,
.feature_card.feature_special.feature_split > a:hover img {
    filter: contrast(0.4);
}
.feature_split > a {
    height: auto;
    object-fit: cover;
    position: relative;
}
.feature_split {
    align-items: flex-start;
    display: flex;
    column-gap: 1.33rem;
    row-gap: .66rem;
}
.feature_split img {
    display: block;
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
}
.features {
    display: grid;
    grid-gap: 1.33rem;
    grid-template-columns: minmax(0, 1fr);
}
.features:not(.show_extra) .extra { display: none; }
.features hr {
    grid-column-start: 1;
    grid-column-end: -1;
    width: 100%;
}
@media (min-width: 42.5rem) {
    .features hr.span_1,
    .features hr.span_3 { display: none; }
    .features { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 60rem) {
    .features hr.span_2.span_portrait { display: none; }
    .features { grid-template-columns: repeat(4, 1fr); }
}
@media (min-width: 75rem) {
    .features hr.span_2.span_card { display: none; }
}
.featured {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.featured_image { width: calc(33% - 2rem); }
.featured_text { width: 66%; }
.features > * { min-width: 0; }
.features .show_extra_button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    grid-column-end: -1;
    grid-column-start: 1;
    justify-self: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.features.show_extra .show_extra_button,
.features.show_extra .span_extra {
    display: none;
}
.font_size_1_1 { font-size: 1.1rem; }
footer {
    background-color: var(--bg-footer);
    margin-top: 2rem;
    padding: 2rem 1rem;
}
footer a {
    font-weight: 600;
    text-decoration: none;
}
footer .general {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    row-gap: .3rem;
}
footer .general a:not(.logo):hover {
    text-decoration: underline;
}
footer .icon_buttons {
    align-items: center;
    column-gap: .6rem;
    display: flex;
}
footer .icon_buttons a {
    align-items: center;
    background-color: var(--fg-2);
    border-radius: 1rem;
    color: var(--bg);
    display: flex;
    padding: .3rem;
    justify-content: center;
}
footer .icon_buttons a:focus-visible,
footer .icon_buttons a:hover {
    background-color: var(--bg);
    color: var(--fg-2);
}
footer .icon_buttons svg {
    height: 1.2rem;
    width: 1.2rem;
}
footer .logo { margin-bottom: 1.5rem; }
footer .logo img { width: 8rem; }
footer .order_buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    row-gap: 1.5rem;
}
.footer_inner {
    align-items: flex-end;
    display: flex;
    margin: 0 auto;
    max-width: var(--width);
}
.generic__image_restraint { max-height: 40rem; }
.generic__center_aligned { text-align: center; }
h1 { margin-top: 0; }
header {
    background-color: var(--bg);
    height: 5rem;
    position: sticky;
    top: 0;
    z-index: 3;
}
header a { color: var(--fg-2); }
header nav {
    align-items: center;
    column-gap: .5rem;
    display: flex;
    font-weight: 600;
    margin: 0 auto;
    max-width: var(--header-width);
    padding: 1.5rem 1.33rem;
    display: flex;
    justify-content: space-between;
    top: 0;
}
header nav > a {
    font-size: 1.25rem;
    text-decoration: none;
}
header nav > a:focus-visible,
header nav > a:hover {
    color: var(--fg-1);
}
header svg {
    height: 1.4rem;
    width: 1.4rem;
}
header .extra_nav_toggle,
header .search_toggle { font-size: 1.65rem; }
header nav > a.active {
    border-bottom: 1px solid var(--accent);
    color: var(--accent);
}
header .logo img { width: 7rem; }
.header_compact_location {
    flex-grow: 1;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.heading {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: initial;
    overflow-wrap: break-word;
}
.heading a { text-decoration: none; }
.heading a:hover { border-bottom: 1px solid #000; }
.listings > *:not(:first-child) {
    margin-top: 1.33rem;
}
.listing_split {
    column-gap: 1.33rem;
    display: flex;
    row-gap: 1.33rem;
}
.issue_tile:focus-visible,
.issue_tile:hover { color: var(--accent); }
.issue_tile > div:nth-child(1) {
    aspect-ratio: 0.7635;
    background-color: var(--fg-2);
    position: relative;
}
.issue_tile > div:nth-child(1) img {
    display: block;
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%;
}
.issue_tile > div:nth-child(2) {
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.issue_tile_cover { position: relative; }
.issue_tile_overlay {
    background: var(--accent);
    bottom: 0;
    left: 0;
    mix-blend-mode: hard-light;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.issue_tile:hover .issue_tile_overlay { opacity: .8; }
main {
    flex-grow: 1;
    max-width: var(--width);
    padding: 0 1.33rem;
}
.newsletter_button {
	background-color: var(--grey);
	border: none;
	border-radius: 3px;
	cursor: pointer;
	margin-top: 1rem;
	padding: .5rem;
}
.newsletter_checkbox { display: none; }
.newsletter_input {
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--grey);
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}
.newsletter_label { margin-bottom: .5rem; }
.no_margin { margin: 0; }
.pagination {
    background: var(--bg);
    font-size: .9rem;
    margin-bottom: 4rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: sticky;
    text-align: center;
    top: 5rem;
    z-index: 1;
}
.pagination a {
    font-weight: 600;
    line-break: anywhere;
    padding: .36rem;
    text-decoration: none;
    white-space: nowrap;
}
.pagination a.active {
    color: var(--accent);
}
.radio {
    background-color: var(--almost-white);
    border: 1px solid var(--grey);
    border-radius: 3px;
    display: flex;
}
.radio__button { padding: .5rem; }
.radio__notice { display: none; }
.radio__notice--shown { display: block; }
.radio__playback_icon { pointer-events: none; }
.radio__seekbar {
    flex-grow: 1;
    position: relative;
}
.radio__seekbar { cursor: pointer; }
.radio__seekbar_progress {
    background-color: var(--beige);
    height: 100%;
    left: 0;
    position: absolute;
    width: 1px;
}
.radio__seekbar_text {
    padding: .5rem;
    position: absolute;
    right: 0;
}
.reading_width { max-width: 35rem; }
.search_searchform {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 70rem) {
    .search_searchform { flex-direction: column; }
}
.search_searchform button {
    background-color: var(--beige);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: .5rem 1rem;
}
@media (min-width: 70.001rem) {
    .search_searchform button[data-toggle-filters] { display: none; }
}
.search_searchform input[type="checkbox"] { outline: none; }
.search_searchform input[type="search"] {
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--beige);
    margin: 0 .5rem;
    width: 20em;
}
@media (max-width: 43rem) {
    .search_searchform input[type="search"] { width: 10rem; }
}
@media (max-width: 32rem) {
    .search_searchform input[type="search"] { width: 6.5rem; }
}
@media (max-width: 28rem) {
    .search_searchform input[type="search"] {
        display: block;
        margin-bottom: 1rem;
    }
}
.search_filter { padding: .25rem; }
.search_filters {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
@media (max-width: 70rem) {
    .search_filters {
        display: none;
        margin-top: 1rem;
    }
    .search_filters.shown { display: flex; }
}
.section_article_split {
    display: flex;
    justify-content: space-between;
}
.section_article_split > div:nth-child(1) {
    font-weight: 600;
    text-align: right;
    width: calc(35% - 2rem);
}
.section_article_split > div:nth-child(2) { width: 65%; }
.section_article_split + .section_article_split { margin-bottom: .5rem; }
@media (max-width: 46.25rem) {
    .section_article_split { flex-direction: column-reverse; }
    .section_article_split > div:nth-child(1) {
        text-align: left;
        width: 100%;
    }
    .section_article_split > div:nth-child(2){ width: 100%; }
    .section_article_split + .section_article_split { margin-bottom: 2rem; }
}
.search { position: relative; }
.search input {
    background: transparent;
    border: none;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    color: transparent;
    outline: none;
    padding: .2rem 0;
    transition:
        border-color .2s ease-in-out,
        color .2s ease-in-out,
        width .2s ease-in-out;
    width: 2rem;
}
.search input:focus {
    border-bottom-color: var(--fg-2);
    border-top-color: var(--fg-2);
    color: var(--fg-2);
    padding-left: 1.5rem;
    width: 10rem;
}
.search svg {
    position: absolute;
    pointer-events: none;
    top: .1rem;
}
.smaller_font { font-size: .9rem; }
.statement {
    border-bottom: 1px solid var(--accent);
    border-top: 1px solid var(--accent);
    color: var(--accent);
    font-size: 1.6rem;
    font-weight: 600;
    margin: 2rem 0;
    padding: 1.4rem 0;
    text-align: center;
}
.subheading {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: initial;
    margin-bottom: .5rem;
    overflow-wrap: break-word;
}
.subheading a { text-decoration: none; }
.subheading a:hover { border-bottom: 1px solid #000; }
svg { fill: currentColor; }
.tile {
    box-sizing: border-box;
    color: var(--bg);
    padding: 1rem;
    width: calc((100% - 2.66rem) / 3);
}
.tile a { color: var(--bg); }
.tile:hover { box-shadow: 0 0 2.66rem var(--shadow); }
.tile:nth-child(n+4) { margin-top: 1.33rem; }
@media (max-width: 60rem) {
    .tile { width: calc((100% - 1.33rem) / 2); }
    .tile:nth-child(n+3) { margin-top: 1.33rem; }
}
@media (max-width: 40rem) {
    .tile { width: 100%; }
    .tile:nth-child(n+2) { margin-top: 1.33rem; }
}
.tile--festival {
    padding: 0;
    transition: box-shadow 0.25s;
}
.tile--festival:hover { box-shadow: 0 0 2.66rem var(--shadow); }
.tile--festival img { display: block; }
.tile_header {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: initial;
    margin-bottom: 1rem;
    overflow-wrap: break-word;
}
.tile_header a { text-decoration: none; }
.tile_header a:hover { border-bottom: 1px solid #000; }
.tiles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
}
.tiles__magazine {
    display: grid;
    grid-gap: .66rem;
    margin-bottom: 1.33rem;
}
@media (min-width: 33.75rem) {
    .tiles__magazine { grid-template-columns: 1fr 1fr; }
}
@media (min-width: 61.25rem) {
    .tiles__magazine { grid-template-columns: 1fr 1fr 1fr 1fr; }
}
.to_top {
    align-items: center;
    background-color: var(--fg-2);
    bottom: 5rem;
    color: var(--bg);
    display: flex;
    justify-content: center;
    left: calc(50vw + 42rem);
    padding: .3rem;
    position: fixed;
    z-index: 3;
}
.to_top:not(.active) { display: none; }
.to_top:hover {
    background-color: var(--bg);
    color: var(--fg-2);
}
.to_top svg {
    height: 1.2rem;
    width: 1.2rem;
}
@media (max-width: 90rem) {
    .to_top {
        left: initial;
        right: 1.33rem;
    }
}
.tone_overlay {
    background-color: var(--accent);
    bottom: 0;
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.top_feature {
    background-color: var(--accent);
    color: var(--bg);
    padding: 2rem 0;
    position: relative;
}
.top_feature::before {
    background-color: var(--accent);
    content: '';
    height: 100%;
    left: calc(50% - 60vw);
    position: absolute;
    top: 0;
    width: 120vw;
    z-index: -1;
}
.top_feature a { color: var(--bg); }
.vertical_margin { margin: 1.5rem 0; }
.vertical_margin_slight { margin: .5rem 0; }

@media (max-width: 29.999rem) {
    .listing_split { flex-direction: column; }
}
@media (min-width: 30rem) {
    .listing_split > *:first-child {
        flex-shrink: 0;
        width: 12rem;
    }
}
@media (max-width: 37.5rem) {
    .featured { flex-direction: column; }
    .featured_image {
        margin-bottom: 1.33rem;
        margin-right: 0;
        width: 100%;
    }
    .featured_text { width: 100%; }
}
@media (max-width: 42rem) {
    footer .general { align-items: center; }
    footer .order_buttons { row-gap: .5rem; }
    .footer_inner {
        align-items: center;
        flex-direction: column;
        row-gap: 2rem;
    }
}
@media (min-width: 42.001rem) {
    main {
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 54rem) {
    .statement br { display: none; }
}
@media (max-width: 64rem) {
    header nav > a:not(.logo) { display: none; }
}
@media (min-width: 64.001rem) {
    .extra_nav_widget .mobile { display: none; }
    header { height: 6rem; }
    header .logo img { width: 9rem; }
    .header_compact_location { display: none; }
    .pagination { top: 6rem; }
}
