@mixin banner_small {
  @include restraint-medium;

  display: flex;
  justify-content: space-between;

  .info {
    line-height: 1.3em;

    @media (max-width: 620px) {
      display: none;
    }
  }

  .logo {
    max-height: 100px;

    @media (max-width: 500px) {
      max-width: 70%;
    }
  }

  .slogan {
    max-height: 100px;

    @media (max-width: 890px) {
      display: none;
    }
  }
}

.banner_small_pink {
  @include banner_small;
  color: $urbanize_pink;
}

.banner_small_white {
  @include banner_small;
  color: $urbanize_white;
}

.banner_large {
  background-color: $urbanize_pink;
  color: $urbanize_white;
  margin-bottom: 10em;

  .alignment {
    @include restraint-medium;

    img {
      max-width: 100%;
    }

    .info {
      font-size: 2vw;
      line-height: 1.3em;
      margin-top: 1em;
      text-align: right;
    }

    .logo {
    	max-width: 80%;
    	position: relative;
    	left: 10%;
    }

    .slogan {
      font-size: 2vw;
      left: 35%;
      margin-top: 2em;
      max-width: 30%;
      position: relative;
    }

    .sujet {
      margin-bottom: -11em;
      margin-top: -20em;

      @media (max-width: 1740px) {
        font-size: 2vw;
        margin-top: -10em;
      }

      @media (max-width: 300px) {
        margin-bottom: -14em;
      }
    }
  }
}
