@keyframes subliminal {
  100% {
    background-position: 0 -34560px;
  }
}

@mixin banner_small {
  @include restraint-medium;

  display: flex;
  justify-content: space-between;

  .info {
    line-height: 1.3em;

    @media (max-width: 620px) {
      display: none;
    }
  }

  .logo {
    animation: subliminal 4s steps(192) infinite;
    background-position: 0 0;
    background-size: 920px 34560px;
    height: 180px;
    left: 0;
    position: absolute;
    top: 0;
    transform-origin: top left;
    width: 920px;
  }

  .logo_wrapper {
    display: block;
    min-height: 100px;
    position: relative;
    width: 310px;

    @media (max-width: 500px) {
      width: 70vw;
    }
  }

  .tagline {
    position: absolute;
    max-width: 300px;
    top: 3.5em;

    @media (max-width: 500px) {
      width: 70vw;
      top: 15vw;
    }
  }

  .slogan {
    max-height: 100px;

    @media (max-width: 890px) {
      display: none;
    }
  }
}

.banner_small_pink {
  @include banner_small;
  color: $urbanize_pink;
}

.banner_small_white {
  @include banner_small;
  color: $urbanize_white;
}

.banner_large {
  background-color: $urbanize_pink;
  color: $urbanize_white;
  margin-bottom: 10em;

  .alignment {
    @include restraint-medium;

    img {
      max-width: 100%;
    }

    .info {
      font-size: 2vw;
      line-height: 1.3em;
      margin-top: 1em;
      text-align: right;
    }

    .logo {
      animation: subliminal 8s steps(192) infinite;
      background-image: url('/images/urbanize_sprite_white.svg');
      background-position: 0 0;
      background-size: 920px 34560px;
      height: 180px;
      left: 10%;
    	position: absolute;
      top: 0;
      transform-origin: top left;
      width: 920px;

      @media (max-width: 500px) {
        animation: subliminal 4s steps(192) infinite;
      }
    }

    .logo_wrapper {
      padding-bottom: 5%;
      padding-top: 180px / 920px * 100%;
      position: relative;
    }

    .tagline {
      left: 10%;
      position: absolute;

      @media (min-width: 1350px) {
        max-width: 51em;
        top: 12em;
      }

      @media (max-width: 1349px) {
        max-width: 75%;
        top: 16vw;
      }
    }

    .slogan {
      font-size: 2vw;
      left: 35%;
      margin-top: 2em;
      max-width: 30%;
      position: relative;
    }

    .sujet {
      margin-bottom: -11em;
      margin-top: -20em;

      @media (max-width: 1740px) {
        font-size: 2vw;
        margin-top: -10em;
      }

      @media (max-width: 300px) {
        margin-bottom: -14em;
      }
    }
  }
}
