body,
button,
input,
select,
textarea {
  font-family: 'Jost';
	font-size: 18px;
}

body {
  background-color: $urbanize_white;
  color: $urbanize_black;
  display: flex;
  flex-direction: column;
  margin: 0;
  max-height: 100vh;
  min-height: 100vh;
}

a {
  color: $urbanize_pink;
	text-decoration: none;

  &:hover {
    color: $urbanize_black;
  }
}

h1 {
  color: $urbanize_pink;
  font-size: 1.9em;
  font-weight: 500;
}

h2 {
  color: $urbanize_pink;
  font-weight: 500;
}

h3 {
  color: $urbanize_pink;
  font-weight: 600;
}

hr {
	background-color: $urbanize_pink;
  border: none;
	height: 0.8em;
  margin-bottom: 2em;

  &.hairline {
    height: 1px;
    margin-bottom: revert;
  }
}

strong {
  font-weight: 600;
}
