$urbanize_black: #000000;
$urbanize_grey: #6f7375;
$urbanize_pink: #ff1d55;
$urbanize_white: #ffffff;
$urbanize_yellow: #ffed00;

.color_black { color: $urbanize_black; }
.color_grey { color: $urbanize_grey; }
