.event {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 2fr 3fr;

  @media (max-width: 869px) {
    grid-template-columns: 1fr;
  }
}

.event_details {
  position: relative;
}

.event_category_tag {
  position: absolute;
  right: 0;
  top: 0;
}

.event_download {
  display: flex;
  align-items: center;

  img {
    margin-right: 1em;
    position: relative;
    top: -0.1em;
    width: 1.5em;
  }
}

.event_image_desktop {
  @media (max-width: 869px) {
    display: none;
  }
}

.event_image_mobile {
  @media (min-width: 870px) {
    display: none;
  }
}
