.event {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 2fr 3fr;

  @media (max-width: 869px) {
    grid-template-columns: 1fr;
  }
}

.event_details {
  position: relative;
}

.event_category_tag {
  position: absolute;
  right: 0;
  top: 0;
}

.event_download {
  display: flex;
  align-items: center;

  img {
    margin-right: 1em;
    position: relative;
    top: -0.1em;
    width: 1.5em;
  }
}

.event_image_desktop {
  @media (max-width: 869px) {
    display: none;
  }
}

.event_image_mobile {
  @media (min-width: 870px) {
    display: none;
  }
}

.filter_alignment {
  display: flex;
  justify-content: flex-start;

  a.button_rect_yellow,
  a.button_rect_pink {
    white-space: nowrap;
  }

  @media (max-width: 819px) {
    flex-direction: column;

    & > span:not(:first-child) {
      margin-top: 0.5em;
    }

    & > span:not(:last-child) {
      max-width: 100%;
      width: 0;
    }
  }

  @media (min-width: 820px) {
    align-items: center;

    & > span:not(:first-child) {
      margin-left: 1.6em;
    }
  }
}
