@use 'colors';

.features img {
  width: 100%;
}

.features.alignment_desktop {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 699px) {
    display: none;
  }
}

.features.alignment_mobile {
  @media (min-width: 700px) {
    display: none;
  }
}

.feature:hover {
  background-color: colors.$urbanize_pink;
  color: colors.$urbanize_white;

  a {
    color: colors.$urbanize_white;
  }

  hr {
    background-color: colors.$urbanize_black;
  }

  hr.hairline {
    background-color: colors.$urbanize_white;
  }

  .color_pink {
    color: colors.$urbanize_white;
  }
}
