@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Jost-400-Book.woff') format('woff');
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Jost-500-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Jost-600-Semi.woff') format('woff');
}

.font_size_0_8 { font-size: 0.8em; }
.font_size_1_2 { font-size: 1.2em; }
.font_size_1_3 { font-size: 1.3em; }
.font_size_1_6 { font-size: 1.6em; }

.font_weight_500 { font-weight: 500; }
