.footer {
	background-color: $urbanize_pink;
  color: $urbanize_white;

	.alignment {
		@include restraint;

		display: flex;
		justify-content: space-between;
		padding-top: 2.8em;
		text-align: center;

		a {
			color: $urbanize_white;

			&:hover {
				color: $urbanize_black;
			}
		}

		a.button_circle_black {
			background-color: $urbanize_black;
			border-radius: 50%;
			color: $urbanize_pink;
			margin: 0.14em;

			&:hover {
				background-color: $urbanize_white;
				color: $urbanize_black;
			}
		}
	}

	.archive {
		text-align: right;

		.label {
			margin-bottom: 0.5em;
		}
	}

	.buttons {
		display: flex;
		flex-direction: column;

		& > a:not(:first-child) {
			margin-top: 0.5em;
		}
	}

	.derive_logo {
		max-width: 10em;
		margin-bottom: 0.5em;
	}
}
