@use 'colors';
@use 'mixins';

.footer {
	background-color: colors.$urbanize_accent;
  color: colors.$urbanize_white;

	a {
		color: colors.$urbanize_white;

		&:hover {
			color: colors.$urbanize_black;
		}
	}

	.alignment {
		@include mixins.restraint-medium;

		display: flex;
		justify-content: space-between;
		padding-top: 2.8em;
		text-align: center;

		@media (min-width: 381px) and (max-width: 709px) {
			justify-content: space-around;
		}
	}

	.archive {
		text-align: right;

		.label {
			margin-bottom: 0.5em;
		}
	}

	.buttons {
		display: flex;
		flex-direction: column;

		& > a:not(:first-child) {
			margin-top: 0.5em;
		}
	}

	.derive_logo {
		max-width: 10em;
		margin-bottom: 0.5em;
	}

	.derive_desktop {
		@media (max-width: 709px) {
				display: none;
		}
	}

	.derive_mobile {
		@include mixins.restraint-medium;

		text-align: center;

		@media (min-width: 710px) {
			display: none;
		}
	}
}
