.generic__heading {
  color: $primary_color;
  font-family: 'FunctionPro-Medium';
  font-size: 1.65em;
  word-wrap: break-word;

  a {
    text-decoration: none;
  }

  a:hover {
    border-bottom: 1px solid $primary_color;
  }

  margin-bottom: 1em;
}

.generic__heading_addendum {
  margin-top: -1.3em;
  margin-bottom: 1em !important;
}

.generic__subheading {
  font-size: 1.2em;
  margin-bottom: 0.1em;
  display: block;
}

.generic__primary {
  color: $primary_color;
}

.generic__secondary {
  color: $secondary_color;
}

.generic__serif {
  font-family: 'Crimson Text';
}
