@mixin rounded_rect {
  border-radius: 0.6em;
  padding: 0.1em 0.5em;
}

a.button_circle_black {
  background-color: $urbanize_black;
  border-radius: 50%;
  color: $urbanize_pink;
  margin: 0.14em;

  &:hover {
    background-color: $urbanize_white;
    color: $urbanize_black;
  }
}

a.button_rect_black {
  @include rounded_rect;

  background-color: $urbanize_black;
  color: $urbanize_white;

  &:hover {
    background-color: $urbanize_white;
    color: $urbanize_black;
  }
}

a.button_rect_pink {
  @include rounded_rect;

  background-color: $urbanize_pink;
  color: $urbanize_white;

  &:hover {
    background-color: $urbanize_black;
  }
}

a.button_rect_white {
  @include rounded_rect;

  background-color: $urbanize_white;
  color: $urbanize_black;

  &:hover {
    background-color: $urbanize_black;
    color: $urbanize_white;
  }
}

a.button_rect_yellow {
  @include rounded_rect;

  background-color: $urbanize_yellow;
  color: $urbanize_black;

  &:hover {
    background-color: $urbanize_black;
    color: $urbanize_yellow;
  }
}

button.button_rect_white {
  @include rounded_rect;

  background-color: $urbanize_white;
  border: none;
  color: $urbanize_black;
  cursor: pointer;

  &:hover {
    background-color: $urbanize_black;
    color: $urbanize_white;
  }
}

input[type="checkbox"] {
  display: none;
}

label.slider_white {
  background-color: $urbanize_white;
  border: 1px solid $urbanize_black;
  border-radius: 4.6em;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  height: 1.5em;
  margin-right: 0.5em;
  position: relative;
  top: 0.4em;
  width: 2.5em;

  .nub {
    background-color: $urbanize_black;
    border-radius: 4.6em;
    display: inline-block;
    height: 1.3em;
    left: 0.1em;
    position: absolute;
    top: 0.1em;
    transition: background-color ease-in-out 0.1s, left ease-in-out 0.1s;
    width: 1.3em;
  }
}

input:checked + label.slider_white .nub {
  background-color: $urbanize_pink;
  left: 1.1em;
}

input.input_rect_white {
  @include rounded_rect;

  background-color: $urbanize_white;
  border: 1px solid $urbanize_black;
  color: $urbanize_black;
  display: block;
  width: 100%;
}

.generic__heading {
  color: $urbanize_pink;
  font-size: 1.65em;
  font-weight: 500;
  overflow-wrap: break-word;

  a {
    text-decoration: none;
  }

  a:hover {
    border-bottom: 1px solid $urbanize_pink;
  }

  margin-bottom: 1em;
}

.generic__heading_addendum {
  margin-top: -1.3em;
  margin-bottom: 1em !important;
}

.generic__subheading {
  font-size: 1.2em;
  margin-bottom: 0.1em;
  display: block;
}

.generic__serif {
  font-family: 'Crimson Text';
}

.margin_y_0_5 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.margin_y_2_0 {
  margin-top: 2em;
  margin-bottom: 2em;
}
