@use 'colors';
@use 'mixins';

.dim_overlay {
	display: none;

	@media (max-width: 744px) {
		&.visible {
			background-color: rgba(colors.$urbanize_white, 0.9);
			display: block;
			height: 100vh;
			left: 0;
			position: fixed;
			top: 0;
			width: 100vw;
			z-index: 4;
		}
	}
}

.header {
	.alignment_desktop {
		@include mixins.restraint-wide;

		align-items: center;
		display: flex;
		justify-content: flex-end;

		& > a:not(:first-child) {
			margin-left: 1.6em;
		}

		a.language {
			color: colors.$urbanize_white;

			&:hover {
				color: colors.$urbanize_black;
			}
		}

		@media (max-width: 744px) {
		  display: none;
		}
	}

	.alignment_mobile {
		@include mixins.restraint-wide;

		padding: 1em;
		position: fixed;
		right: 0;
		text-align: right;
		top: 0;
		width: calc(100vw - 2em);
		z-index: 9;

		a.language {
			color: colors.$urbanize_black;
			margin-left: .5em;
			margin-top: 1em !important;

			&:hover {
				color: colors.$urbanize_accent;
			}
		}

		.backdrop {
			background-color: colors.$urbanize_accent;
			border-bottom: .4em solid #000;
			height: 3.6em;
			left: 0;
			opacity: 0;
			position: fixed;
			text-align: left;
			top: 0;
			transition: opacity .2s ease;
			width: 100vw;
			z-index: -1;
		}

		.logo {
			margin-left: 1.9em;
			margin-top: .6em;
			width: 8em;
		}

		.toggle_menu {
			align-items: flex-start;
			display: none;
			flex-direction: column;
			margin-top: 2.4em;
			padding-right: 0.8em;

			.indented {
				align-items: flex-start;
				display: flex;
				flex-direction: column;
				padding-right: 0.8em;
			}

			&.visible {
				display: flex;
			}

			*:not(:first-child) {
				margin-top: .4em;
			}
		}

		@media (min-width: 745px) {
			display: none;
		}
	}

	.hover_menu_trigger {
		z-index: 9;
	}

	@media (min-width: 745px) {
		background-color: colors.$urbanize_accent;
	}
}

.hover_menu {
	display: none;
	flex-direction: column;
	left: 0;
	padding-left: 0.8em;
	position: absolute;
}

.hover_menu_trigger {
	position: relative;

	&:hover {
		.hover_menu {
			display: flex;
		}
	}
}
