.header {
	background-color: $urbanize_pink;
	margin-bottom: 1.33em;

	.alignment {
		@include restraint;

		align-items: center;
		display: flex;
		justify-content: flex-end;

		& > a:not(:first-child) {
			margin-left: 1.6em;
		}

		a.language {
			color: $urbanize_white;
			font-size: 1.2em;

			&:hover {
				color: $urbanize_black;
			}
		}
	}
}

.hover_menu {
	display: none;
	flex-direction: column;
	left: 0;
	padding: 0 0.8em;
	position: absolute;
}

.hover_menu_trigger {
	position: relative;

	&:hover {
		.hover_menu {
			display: flex;
		}
	}
}
