body {
	background-attachment: fixed;
	background-color: #fff;
	background-position: center;
	background-size: cover;
	color: #333;
	font-family: 'FunctionPro-Book';
	font-size: 18px;
	line-height: 22px;
	margin: 0;
	max-height: 100vh;
}

a {
	color: #009fe3;
	text-decoration: none;
}

.add-this {
	font-size: 1.33em;

	a {
		cursor: pointer;

		&:nth-child(n+2) {
			margin-left: 0.2em;
		}
	}
}

.additional {
	color: #7C7C0F;
	margin-bottom: 10px;
}

.brand {
	color: #fff;
	font-family: 'Fredoka One';
	font-size: 2.4em;
	line-height: 1em;
}

.breadcrumb {
	margin-bottom: 30px;
}

.content {
	background-color: #fff;
	border: 2px solid #009fe3;
	box-sizing: border-box;
	flex-grow: 1;
	max-width: 620px;
	padding: 1em;

	img {
		max-width: 100%;
	}
}

.emphasized {
	font-size: 18px;
}

.footer {
	background-color: #009fe3;
	border: 2px solid #fff;
	color: #fff;
	padding: 1em;
	font-size: 0.8em;
	text-align: center;
}

.header {
	align-items: center;
	background-color: #009fe3;
	border: 2px solid #fff;
	display: flex;
	justify-content: space-between;
	margin-bottom: 24px;
	padding: 1em;
}

.indented {
	padding-left: 15px;
}

.list-item {
	margin: 35px 0;
  clear:both;
}

.offset {
	margin-bottom: 1.33em;
}

.restraint {
  max-width: 960px;
  margin: 0 auto;
	padding: 1.33em;
}

.search {
	display: flex;

	input {
		flex-grow: 1;
		flex-shrink: 1;
		width: 60%;
	}
}

.sidebar {
  align-items: flex-start;
	background-color: #fff;
	border: 2px solid #009fe3;
	box-sizing: border-box;
  display: flex;
  flex-direction: column;
	min-width: 316px;
	padding: 1em;
	width: 250px;

	@media (max-width: 770px) {
		margin-left: 0;
		width: 100%;
	}
}

.split {
	display: flex;
	justify-content: space-between;

	@media (max-width: 770px) {
		flex-direction: column;
	}
}

.subtitle {
	font-size: 18px;
	margin-bottom: 10px;
}

.teaser-image {
	float: left;
	height: 150px;
	padding: 0 20px 10px 0;
	width: 150px;
}

.title {
	font-size: 32px;
	margin-bottom: 10px;
	line-height: 36px;
}
