@use 'colors';
@use 'mixins';

.content {
	@include mixins.restraint-narrow;

	flex: 1;

	img {
		max-width: 100%;
	}

	@media (max-width: 744px) {
		padding-top: 0;
	}
}

body.slim {
	background-color: colors.$urbanize_pink;
	color: colors.$urbanize_white;

	h1 {
		color: colors.$urbanize_white;
	}
}

.partition {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.indented {
	padding-left: 15px;
}

.extra_indent {
	@media (min-width: 740px) {
		margin: 1.5em;

		&.hr_exclude hr {
			margin-left: -1.5em;
			margin-right: -1.5em;
		}
	}
}
