$urbanize_black: #000000;
$urbanize_pink: #ff1d55;
$urbanize_white: #ffffff;
$urbanize_yellow: #ffed00;

$primary_color: #f8ac08;
$secondary_color: #999;
$panel_color: rgba(255, 255, 255, 0.95);

@import './fonts.scss';
@import './icons.scss';

@import './base.scss';

@import './features.scss';
@import './footer.scss';
@import './generic.scss';
@import './header.scss';
@import './layout.scss';
@import './participants.scss';
@import './scroll_to_top.scss';
