# TODO: Mildly colored background for --- Text blocks to offset them visually
#       (Maybe also for sections, putting in more and more layers of distinction the deeper we go -
#        could also reverse over to chaging the text color to adapt at some point!)
#       Also goes for the section key line '# foo'

# TODO: expand name: matching onto next key line,
#       so we can in between have correct invalid detection and highlighting !!
#       yes yes please more complex structure for this. (=tree sitter grammar required)

scopeName: 'text.eno'
name: 'eno'
fileTypes: [
  'eno'
  'plain'
]

patterns: [
  { include: '#comment' }
  { include: '#name' }
  { include: '#field' }
  { include: '#listItem' }
  { include: '#dictionaryEntry' }
  { include: '#block' }
  { include: '#append' }
  { include: '#section1stLevel' }
  { include: '#section2ndLevel' }
  { include: '#section3rdLevelPlus' }
  { include: '#inheritance' }
  { include: '#escapedDictionaryEntry' }
  { include: '#escapedField' }
  { include: '#escapedInheritance' }
  { include: '#escapedName' }
  { include: '#escapedSection1stLevel' }
  { include: '#escapedSection2ndLevel' }
  { include: '#escapedSection3rdLevelPlus' }
  { include: '#illegal' }
]

repository:
  append: {
    comment: '| value OR \\ value'
    match: '^\\s*([\\\\|])(?![\\\\|])\\s*(.+?)?\\s*$'
    captures:
      1: name: 'punctuation.definition.single-value.eno'
      2: name: 'value.eno'
  }
  block: {
    comment: '-- name'
    begin: '^\\s*(-{2,})(?!-)\\s*(.+?)\\s*$'
    beginCaptures:
      1: name: 'punctuation.definition.block.key.begin.eno'
      2: name: 'variable.other.key.eno'
    contentName: 'verbatim.value.eno'
    end: '^\\s*(\\1)\\s*(\\2)\\s*$'
    endCaptures:
      1: name: 'punctuation.definition.block.key.end.eno'
      2: name: 'variable.other.key.eno'
    patterns: [
      { 'include': 'text.md' }
      { 'include': 'source.gfm' }
    ]
  }
  comment: {
    comment: '> comment'
    match: '^\\s*(>).*$'
    name: 'comment.line.angled-bracket.eno'
    captures:
      1: name: 'punctuation.definition.comment.eno'
  }
  dictionaryEntry: {
    comment: 'key = value'
    match: '^\\s*(?![>\\-#\\\\|`])([^<=:]+?)\\s*(=)\\s*(\\S.*?)\\s*$'
    captures:
      1: name: 'variable.other.key.attribute.eno'
      2: name: 'punctuation.separator.key.attribute.eno'
      3: name: 'value.eno'
  }
  empyLine: {
    match: '^\\s*$'
  }
  escapedDictionaryEntry: {
    comment: '`name` = value'
    match: '^\\s*(`+)\\s*((?:(?!\\1).)+)\\s*(\\1)\\s*(=)\\s*(\\S.*?)\\s*$'
    captures:
      1: name: 'punctuation.definition.string.begin.eno'
      2: name: 'variable.other.key.attribute.eno'
      3: name: 'punctuation.definition.string.end.eno'
      4: name: 'punctuation.separator.key.attribute.eno'
      5: name: 'value.eno'
  }
  escapedField: {
    comment: '`name`: value'
    match: '^\\s*(`+)\\s*((?:(?!\\1).)+)\\s*(\\1)\\s*(:)\\s*(\\S.*?)\\s*$'
    captures:
      1: name: 'punctuation.definition.string.begin.eno'
      2: name: 'variable.other.key.eno'
      3: name: 'punctuation.definition.string.end.eno'
      4: name: 'punctuation.separator.key.eno'
      5: name: 'value.eno'
  }
  escapedInheritance: {
    comment: 'key < reference'
    match: '^\\s*(`+)\\s*((?:(?!\\1).)+)\\s*(\\1)\\s*(<)\\s*(\\S.*?)\\s*$'
    captures:
      1: name: 'punctuation.definition.string.begin.eno'
      2: name: 'variable.other.key.eno'
      3: name: 'punctuation.definition.string.end.eno'
      4: name: 'punctuation.separator.key.eno'
      5: name: 'variable.other.key.reference.eno'
  }
  escapedName: {
    comment: '`name`:'
    match: '^\\s*(`+)\\s*((?:(?!\\1).)+)\\s*(\\1)\\s*(:)\\s*$'
    captures:
      1: name: 'punctuation.definition.string.begin.eno'
      2: name: 'variable.other.key.eno'
      3: name: 'punctuation.definition.string.end.eno'
      4: name: 'punctuation.separator.key.eno'
  }
  escapedSection1stLevel: {
    comment: '# `section` [< section]'
    match: '^\\s*(#)(?!#)\\s*(`+)\\s*((?:(?!\\2).)+)\\s*(\\2)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section.first-level.key.eno'
      2: name: 'punctuation.definition.string.begin.eno'
      3: name: 'variable.other.section.first-level.key.eno'
      4: name: 'punctuation.definition.string.end.eno'
      5: name: 'punctuation.separator.key.eno'
      6: name: 'variable.other.section.reference.eno'
  }
  escapedSection2ndLevel: {
    comment: '## `section` [< section]'
    match: '^\\s*(##)(?!#)\\s*(`+)\\s*((?:(?!\\2).)+)\\s*(\\2)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section.second-level.key.eno'
      2: name: 'punctuation.definition.string.begin.eno'
      3: name: 'variable.other.section.first-level.key.eno'
      4: name: 'punctuation.definition.string.end.eno'
      5: name: 'punctuation.separator.key.eno'
      6: name: 'variable.other.section.reference.eno'
  }
  escapedSection3rdLevelPlus: {
    comment: '### `section` [< section]'
    match: '^\\s*(#{3,})(?!#)\\s*(`+)\\s*((?:(?!\\2).)+)\\s*(\\2)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section.third-level-plus.key.eno'
      2: name: 'punctuation.definition.string.begin.eno'
      3: name: 'variable.other.section.first-level.key.eno'
      4: name: 'punctuation.definition.string.end.eno'
      5: name: 'punctuation.separator.key.eno'
      6: name: 'variable.other.section.reference.eno'
  }
  field: {
    comment: 'name: value'
    match: '^\\s*(?![>\\-#\\\\|`])([^<=:]+?)\\s*(:)\\s*(\\S.*?)\\s*$'
    captures:
      1: name: 'variable.other.key.eno'
      2: name: 'punctuation.separator.key.eno'
      3: name: 'value.eno'
  }
  illegal: {
    match: '^\\s*(\\S.*+)\\s*$'
    captures:
      1: name: 'invalid.illegal.unspecified.eno'
  }
  inheritance: {
    comment: 'key < reference'
    match: '^\\s*(?![>\\-#\\\\|`])([^<=:]+?)\\s*(<)\\s*(\\S.*?)\\s*$'
    captures:
      1: name: 'variable.other.key.eno'
      2: name: 'punctuation.separator.key.eno'
      3: name: 'variable.other.key.reference.eno'
  }
  listItem: {
    comment: '- value'
    match: '^\\s*(-)(?!-)\\s*(.+?)?\\s*$'
    captures:
      1: name: 'punctuation.definition.list.value.eno'
      2: name: 'value.eno'
  }
  name: {
    comment: 'name:'
    match: '^\\s*(?![>\\-#=:*\\\\|`])([^<=:]+?)\\s*(:)\\s*$'
    captures:
      1: name: 'variable.other.key.eno'
      2: name: 'punctuation.separator.key.eno'
  }
  section1stLevel: {
    comment: '# section [< section]'
    match: '^\\s*(#)(?!#)\\s*([^\\s<`][^<]*?)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section.first-level.key.eno'
      2: name: 'variable.other.section.first-level.key.eno'
      3: name: 'punctuation.separator.key.eno'
      4: name: 'variable.other.section.reference.eno'
  }
  section2ndLevel: {
    comment: '## section [< section]'
    match: '^\\s*(##)(?!#)\\s*([^\\s<`][^<]*?)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section.second-level.key.eno'
      2: name: 'variable.other.section.second-level.key.eno'
      3: name: 'punctuation.separator.key.eno'
      4: name: 'variable.other.section.reference.eno'
  }
  section3rdLevelPlus: {
    comment: '### section [< section]'
    match: '^\\s*(#{3,})(?!#)\\s*([^\\s<`][^<]*?)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section.third-level-plus.key.eno'
      2: name: 'variable.other.section.third-level-plus.key.eno'
      3: name: 'punctuation.separator.key.eno'
      4: name: 'variable.other.section.reference.eno'
  }
