fileTypes: [ 'eno' ]
name: 'eno'
scopeName: 'text.eno'

patterns: [
  { include: '#comment' }
  { include: '#name' }
  { include: '#field' }
  { include: '#listItem' }
  { include: '#dictionaryEntry' }
  { include: '#block' }
  { include: '#append' }
  { include: '#section1stLevel' }
  { include: '#section2ndLevel' }
  { include: '#section3rdLevelPlus' }
  { include: '#inheritance' }
  { include: '#escapedDictionaryEntry' }
  { include: '#escapedField' }
  { include: '#escapedInheritance' }
  { include: '#escapedName' }
  { include: '#escapedSection1stLevel' }
  { include: '#escapedSection2ndLevel' }
  { include: '#escapedSection3rdLevelPlus' }
  { include: '#illegal' }
]

repository:
  append: {
    comment: '| value OR \\ value'
    match: '^\\s*([\\\\|])(?![\\\\|])\\s*(.+?)?\\s*$'
    captures:
      1: name: 'punctuation.definition.single-value.eno'
      2: name: 'value.eno'
  }
  block: {
    comment: '-- name'
    begin: '^\\s*(-{2,})(?!-)\\s*(.+?)\\s*$'
    beginCaptures:
      1: name: 'punctuation.definition.block.name.begin.eno'
      2: name: 'variable.other.name.eno'
    contentName: 'block.value.eno'
    end: '^\\s*(\\1)\\s*(\\2)\\s*$'
    endCaptures:
      1: name: 'punctuation.definition.block.name.end.eno'
      2: name: 'variable.other.name.eno'
  }
  comment: {
    comment: '> comment'
    match: '^\\s*(>).*$'
    name: 'comment.line.angled-bracket.eno'
    captures:
      1: name: 'punctuation.definition.comment.eno'
  }
  dictionaryEntry: {
    comment: 'name = value'
    match: '^\\s*(?![>\\-#\\\\|`])([^<=:]+?)\\s*(=)\\s*(.+?)?\\s*$'
    captures:
      1: name: 'variable.other.name.attribute.eno'
      2: name: 'punctuation.separator.name.attribute.eno'
      3: name: 'value.eno'
  }
  empyLine: {
    match: '^\\s*$'
  }
  escapedDictionaryEntry: {
    comment: '`name` = value'
    match: '^\\s*(`+)\\s*((?:(?!\\1).)+)\\s*(\\1)\\s*(=)\\s*(.+?)?\\s*$'
    captures:
      1: name: 'punctuation.definition.string.begin.eno'
      2: name: 'variable.other.name.attribute.eno'
      3: name: 'punctuation.definition.string.end.eno'
      4: name: 'punctuation.separator.name.attribute.eno'
      5: name: 'value.eno'
  }
  escapedField: {
    comment: '`name`: value'
    match: '^\\s*(`+)\\s*((?:(?!\\1).)+)\\s*(\\1)\\s*(:)\\s*(\\S.*?)\\s*$'
    captures:
      1: name: 'punctuation.definition.string.begin.eno'
      2: name: 'variable.other.name.eno'
      3: name: 'punctuation.definition.string.end.eno'
      4: name: 'punctuation.separator.name.eno'
      5: name: 'value.eno'
  }
  escapedInheritance: {
    comment: 'name < reference'
    match: '^\\s*(`+)\\s*((?:(?!\\1).)+)\\s*(\\1)\\s*(<)\\s*(\\S.*?)\\s*$'
    captures:
      1: name: 'punctuation.definition.string.begin.eno'
      2: name: 'variable.other.name.eno'
      3: name: 'punctuation.definition.string.end.eno'
      4: name: 'punctuation.separator.name.eno'
      5: name: 'variable.other.name.reference.eno'
  }
  escapedName: {
    comment: '`name`:'
    match: '^\\s*(`+)\\s*((?:(?!\\1).)+)\\s*(\\1)\\s*(:)\\s*$'
    captures:
      1: name: 'punctuation.definition.string.begin.eno'
      2: name: 'variable.other.name.eno'
      3: name: 'punctuation.definition.string.end.eno'
      4: name: 'punctuation.separator.name.eno'
  }
  escapedSection1stLevel: {
    comment: '# `section` [[<]< section]'
    match: '^\\s*(#)(?!#)\\s*(`+)\\s*((?:(?!\\2).)+)\\s*(\\2)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section.first-level.name.eno'
      2: name: 'punctuation.definition.string.begin.eno'
      3: name: 'variable.other.section.first-level.name.eno'
      4: name: 'punctuation.definition.string.end.eno'
      5: name: 'punctuation.separator.name.eno'
      6: name: 'variable.other.section.reference.eno'
  }
  escapedSection2ndLevel: {
    comment: '## `section` [[<]< section]'
    match: '^\\s*(##)(?!#)\\s*(`+)\\s*((?:(?!\\2).)+)\\s*(\\2)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section.second-level.name.eno'
      2: name: 'punctuation.definition.string.begin.eno'
      3: name: 'variable.other.section.second-level.name.eno'
      4: name: 'punctuation.definition.string.end.eno'
      5: name: 'punctuation.separator.name.eno'
      6: name: 'variable.other.section.reference.eno'
  }
  escapedSection3rdLevelPlus: {
    comment: '### `section` [[<]< section]'
    match: '^\\s*(#{3,})(?!#)\\s*(`+)\\s*((?:(?!\\2).)+)\\s*(\\2)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section.third-level-plus.name.eno'
      2: name: 'punctuation.definition.string.begin.eno'
      3: name: 'variable.other.section.third-level-plus.name.eno'
      4: name: 'punctuation.definition.string.end.eno'
      5: name: 'punctuation.separator.name.eno'
      6: name: 'variable.other.section.reference.eno'
  }
  field: {
    comment: 'name: value'
    match: '^\\s*(?![>\\-#\\\\|`])([^<=:]+?)\\s*(:)\\s*(\\S.*?)\\s*$'
    captures:
      1: name: 'variable.other.name.eno'
      2: name: 'punctuation.separator.name.eno'
      3: name: 'value.eno'
  }
  illegal: {
    match: '^\\s*(\\S.*+)\\s*$'
    captures:
      1: name: 'invalid.illegal.unspecified.eno'
  }
  inheritance: {
    comment: 'name < reference'
    match: '^\\s*(?![>\\-#\\\\|`])([^<=:]+?)\\s*(<)\\s*(\\S.*?)\\s*$'
    captures:
      1: name: 'variable.other.name.eno'
      2: name: 'punctuation.separator.name.eno'
      3: name: 'variable.other.name.reference.eno'
  }
  listItem: {
    comment: '- value'
    match: '^\\s*(-)(?!-)\\s*(.+?)?\\s*$'
    captures:
      1: name: 'punctuation.definition.list.value.eno'
      2: name: 'value.eno'
  }
  name: {
    comment: 'name:'
    match: '^\\s*(?![>\\-#=:*\\\\|`])([^<=:]+?)\\s*(:)\\s*$'
    captures:
      1: name: 'variable.other.name.eno'
      2: name: 'punctuation.separator.name.eno'
  }
  section1stLevel: {
    comment: '# section [[<]< section]'
    match: '^\\s*(#)(?!#)\\s*([^\\s<`][^<]*?)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section.first-level.name.eno'
      2: name: 'variable.other.section.first-level.name.eno'
      3: name: 'punctuation.separator.name.eno'
      4: name: 'variable.other.section.reference.eno'
  }
  section2ndLevel: {
    comment: '## section [[<]< section]'
    match: '^\\s*(##)(?!#)\\s*([^\\s<`][^<]*?)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section.second-level.name.eno'
      2: name: 'variable.other.section.second-level.name.eno'
      3: name: 'punctuation.separator.name.eno'
      4: name: 'variable.other.section.reference.eno'
  }
  section3rdLevelPlus: {
    comment: '### section [[<]< section]'
    match: '^\\s*(#{3,})(?!#)\\s*([^\\s<`][^<]*?)\\s*(?:(<(?!<)|<<)\\s*(\\S.*?)\\s*)?$'
    captures:
      1: name: 'punctuation.definition.section.third-level-plus.name.eno'
      2: name: 'variable.other.section.third-level-plus.name.eno'
      3: name: 'punctuation.separator.name.eno'
      4: name: 'variable.other.section.reference.eno'
  }
