scopeName: 'source.plain'
name: 'Plain Data'
fileTypes: [
  'plain'
]

# TODO: HEREDOC solution for multiline value backrefernce ?
# TODO: expand key: and -- alternative key matching onto next key line,
#       so we can in between have correct invalid detection and highlighting

patterns: [
  {
    # --- multiline value
    # ...
    # --- multiline value
    'begin': '^(-{3,})\\s*(.+?)\\s*$'
    'beginCaptures':
      '1': 'name': 'punctuation.definition.block.multiline-value.plain'
      '2': 'name': 'variable.other.key.plain'
    'end': '^(-{3,})\\s*(.+?)\\s*$'
    'endCaptures':
      '1': 'name': 'punctuation.definition.block.multiline-value.plain'
      '2': 'name': 'variable.other.key.plain'
    'patterns': [
      {
        'name': 'markup.raw.block.value.plain'
      }
      { 'include': 'text.md' }
      { 'include': 'source.gfm' }
    ]
  }
  {
    # > comment
    'match': '^\\s*(>).*$'
    'name': 'comment.line.angled-bracket.plain'
    'captures':
      '1': 'name': 'punctuation.definition.comment.plain'
  }
  {
    # -- alternative key
    'match': '^\\s*(--)(?!-)\\s*(\\S.*?)\\s*$'
    'captures':
      '1': 'name': 'punctuation.definition.key.plain'
      '2': 'name': 'variable.other.key.plain'
  }
  {
    # - value
    'match': '^\\s*(-)(?!-)\\s*(.+?)?\\s*$'
    'captures':
      '1': 'name': 'punctuation.definition.value.plain'
      '2': 'name': 'markup.raw.inline.value.plain'
  }
  {
    # # subsection 1st level
    'match': '^\\s*(#)(?!#)\\s*(\\S.*?)\\s*$'
    'captures':
      '1': 'name': 'punctuation.definition.dictionary.key.plain'
      '2': 'name': 'variable.other.key.plain'
  }
  {
    # ## subsection 2nd level
    'match': '^\\s*(##)(?!#)\\s*(\\S.*?)\\s*$'
    'captures':
      '1': 'name': 'punctuation.definition.dictionary.key.plain'
      '2': 'name': 'variable.other.key.plain'
  }
  {
    # ###(##) subsection 3rd to 5th level
    'match': '^\\s*(#{3,5})(?!#)\\s*(\\S.*?)\\s*$'
    'captures':
      '1': 'name': 'punctuation.definition.dictionary.key.plain'
      '2': 'name': 'variable.other.key.plain'
  }
  {
    # key: value
    'match': '^\\s*(?![>\\-#])([^:]+?)\\s*(:)\\s*(\\S.*?)\\s*$'
    'captures':
      '1': 'name': 'variable.other.key.plain'
      '2': 'name': 'punctuation.separator.key-value.plain'
      '3': 'name': 'markup.raw.inline.value.plain'
  }
  {
    # key:
    'match': '^\\s*(?![>\\-#])([^:]+?)\\s*(:)\\s*$'
    'captures':
      '1': 'name': 'variable.other.key.plain'
      '2': 'name': 'punctuation.separator.key-value.plain'
  }
  {
    'match': '^\\s*(\\S.*+)\\s*$'
    'captures':
      '1': 'name': 'invalid.illegal.unspecified.plain'
  }
]
