:root {
    --color-accent: #ea0029;
    --color-black: #000000;
    --color-grey: #6f7375;
    --color-white: #ffffff;
    --color-white-overlay: rgba(255, 255, 255, 0.9);
    --color-yellow: #ffed00;
}
@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Jost-400-Book.woff') format('woff');
}
@font-face {
    font-family: 'Jost';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/Jost-400-BookItalic.woff') format('woff');
}
@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Jost-500-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Jost-600-Semi.woff') format('woff');
}
/* icons begin */
@font-face {
    font-family: 'icon';
    src: url('/fonts/icons.woff2?96992864') format('woff2');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "icon";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-print:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-mail:before { content: '\f0e0'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook:before { content: '\f230'; } /* '' */
.icon-vimeo:before { content: '\f27d'; } /* '' */
.icon-flickr:before { content: '\f303'; } /* '' */
/* icons end */
.color_accent { color: var(--color-accent); }
.color_black { color: var(--color-black); }
.color_grey { color: var(--color-grey); }
.color_white { color: var(--color-white); }
body,
button,
input,
select,
textarea {
    font-family: 'Jost';
	font-size: 18px;
}
body {
    background-color: var(--color-white);
    color: var(--color-black);
    margin: 0;
}
body.slim {
	background-color: var(--color-accent);
	color: var(--color-white);
}
body.slim h1 { color: var(--color-white); }
a {
    color: var(--color-accent);
	text-decoration: none;
}
a:hover { color: var(--color-black); }
h1, h2, h3 { word-break: break-word; }
h1 {
    color: var(--color-accent);
    font-size: 1.9em;
    font-weight: 500;
    margin-bottom: 1.4em;
}
h2 {
    color: var(--color-accent);
    font-size: 1.7em;
    font-weight: 500;
}
h3 {
    color: var(--color-accent);
    font-size: 1.3em;
    font-weight: 600;
}
h3 + h2 { margin-top: -0.5em; }
hr {
	background-color: var(--color-accent);
    border: none;
	height: 0.8em;
    margin-bottom: 2em;
}
hr.hairline {
    height: 1px;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
}
strong { font-weight: 600; }
a.button_circle_black {
    background-color: var(--color-black);
    border-radius: 50%;
    color: var(--color-accent);
    margin: 0.14em;
}
a.button_circle_black:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}
a.button_circle_black_white {
    background-color: var(--color-black);
    border-radius: 50%;
    color: var(--color-white);
    margin: 0.14em;
}
a.button_circle_black_white:hover {
    background-color: var(--color-yellow);
    color: var(--color-black);
}
a.button_rect_black {
    background-color: var(--color-black);
    color: var(--color-white);
}
a.button_rect_black:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}
a.button_rect_black_faux {
    background-color: var(--color-black);
    color: var(--color-white);
}
a.button_rect_accent {
    background-color: var(--color-accent);
    color: var(--color-white);
}
a.button_rect_accent:hover { background-color: var(--color-black); }
a.button_rect_white {
    background-color: var(--color-white);
    color: var(--color-black);
}
a.button_rect_white:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}
a.button_rect_yellow {
    background-color: var(--color-yellow);
    color: var(--color-black);
}
a.button_rect_yellow:hover {
    background-color: var(--color-black);
    color: var(--color-yellow);
}
button.button_rect_white {
    background-color: var(--color-white);
    border: none;
    color: var(--color-black);
    cursor: pointer;
}
button.button_rect_white:hover {
    background-color: var(--color-black);
    color: var(--color-white);
}
input[type="checkbox"] { display: none; }
label.slider_white {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 4.6em;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    height: 1.5em;
    margin-right: 0.5em;
    position: relative;
    top: 0.4em;
    width: 2.5em;
}
label.slider_white .nub {
    background-color: var(--color-black);
    border-radius: 4.6em;
    display: inline-block;
    height: 1.3em;
    left: 0.1em;
    position: absolute;
    top: 0.1em;
    transition: background-color ease 0.02s, left ease 0.02s;
    width: 1.3em;
}
input:checked + label.slider_white .nub {
    background-color: var(--color-accent);
    left: 1.1em;
}
input.input_rect_accent {
    background-color: var(--color-white);
    border: 1px solid var(--color-accent);
    color: var(--color-black);
    display: block;
    width: 100%;
}
input.input_rect_accent::placeholder {
    color: var(--color-accent);
    opacity: 1;
}
input.input_rect_white {
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    color: var(--color-black);
    display: block;
    width: `100%;
}
.banner_small {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1220px;
    padding: 1.8em;
}
.banner_small .info { line-height: 1.3em; }
@media (max-width: 620px) {
    .banner_small .info { display: none; }
}
.banner_small .logo_static { max-width: 100%; }
.banner_small .logo_wrapper { max-width: 310px; }
@media (max-width: 500px) {
    .banner_small .logo_wrapper {
        min-height: 20vw;
        width: 70vw;
    }
}
.banner_small .slogan { max-height: 100px; }
@media (max-width: 890px) {
    .banner_small .slogan { display: none; }
}
.banner_small_accent { color: var(--color-accent); }
.banner_small_white { color: var(--color-white); }
.banner_large {
    background-color: var(--color-accent);
    color: var(--color-white);
    margin-bottom: 6em;
}
@media (max-width: 1740px) {
    .banner_large { margin-bottom: 12vw; }
}
.banner_large .alignment {
    margin: 0 auto;
    max-width: 1220px;
    padding: 1.8em;
}
.banner_large .alignment img { max-width: 100%; }
.banner_large .alignment .info {
    font-size: 2vw;
    line-height: 1.3em;
    margin-top: 1em;
    text-align: right;
}
.banner_large .alignment .logo_static {
    left: 10%;
    max-width: 75%;
    position: absolute;
    top: 0;
}
.banner_large .alignment .logo_wrapper {
    padding-bottom: 5%;
    padding-top: 19.56521739130%; /* 180px / 920px * 100% */
    position: relative;
}
.banner_large .alignment .sujet { margin-bottom: -11em; }
@media (max-width: 1740px) {
    .banner_large .alignment .sujet {
        font-size: 2vw;
        margin-bottom: -6em;
    }
}
@media (max-width: 900px) {
    .banner_large .alignment .sujet { margin-bottom: -8em; }
}
@media (max-width: 500px) {
    .banner_large .alignment .sujet { margin-bottom: -10em; }
}
@media (max-width: 300px) {
    .banner_large .alignment .sujet { margin-bottom: -12em; }
}
.content {
    flex: 1;
    margin: 0 auto;
    max-width: 1160px;
    padding: 1.8em;
}
.content img { max-width: 100%; }
@media (max-width: 744px) {
	.content { padding-top: 0; }
}
.dim_overlay { display: none; }
@media (max-width: 744px) {
	.dim_overlay.visible {
		background-color: var(--color-white-overlay);
		display: block;
		height: 100vh;
		left: 0;
		position: fixed;
		top: 0;
		width: 100vw;
		z-index: 4;
	}
}
.event {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 2fr 3fr;
}
@media (max-width: 869px) {
    .event { grid-template-columns: 1fr; }
}
.event_details { position: relative; }
.event_category_tag {
    position: absolute;
    right: 0;
    top: 0;
}
.event_download {
    display: flex;
    align-items: center;
}
.event_download img {
    margin-right: 1em;
    position: relative;
    top: -0.1em;
    width: 1.5em;
}
@media (max-width: 869px) {
    .event_image_desktop { display: none; }
}
@media (min-width: 870px) {
    .event_image_mobile { display: none; }
}
@media (min-width: 740px) {
	.extra_indent { margin: 1.5em; }
	.extra_indent.hr_exclude hr {
		margin-left: -1.5em;
		margin-right: -1.5em;
	}
}
.features img { width: 100%; }
.features.alignment_desktop {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
}
@media (max-width: 699px) {
    .features.alignment_desktop { display: none; }
}
@media (min-width: 700px) {
    .features.alignment_mobile { display: none; }
}
.feature {
    margin-bottom: 4em;
    margin-top: 2em;
}
.feature:hover {
    background-color: var(--color-accent);
    color: var(--color-white);
}
.feature:hover a { color: var(--color-white); }
.feature:hover hr { background-color: var(--color-black); }
.feature:hover hr.hairline { background-color: var(--color-white); }
.feature:hover .color_accent { color: var(--color-white); }
.filter_alignment {
    display: flex;
    justify-content: flex-start;
}
.filter_alignment a._accent,
.filter_alignment a._yellow { white-space: nowrap; }
@media (max-width: 819px) {
    .filter_alignment { flex-direction: column; }
    .filter_alignment > span:not(:first-child) { margin-top: 0.5em; }
    .filter_alignment > span:not(:last-child) {
        max-width: 100%;
        width: 0;
    }
}
@media (min-width: 820px) {
    .filter_alignment { align-items: center; }
    .filter_alignment > span:not(:first-child) { margin-left: 1.6em; }
}
.flex_split_lr {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 430px) {
    .flex_split_collapse_430 { flex-direction: column; }
}
@media (max-width: 760px) {
    .flex_split_collapse_760 { flex-direction: column; }
}
.font_size_0_8 { font-size: 0.8em; }
.font_size_1_2 { font-size: 1.2em; }
.font_size_1_3 { font-size: 1.3em; }
.font_size_1_6 { font-size: 1.6em; }
.font_weight_500 { font-weight: 500; }
.footer {
	background-color: var(--color-accent);
  	color: var(--color-white);
}
.footer a { color: var(--color-white); }
.footer a:hover { color: var(--color-black); }
.footer .alignment {
	display: flex;
	justify-content: space-between;
    margin: 0 auto;
    max-width: 1220px;
    padding: 2.8em 1.8em 1.8em 1.8em;
	text-align: center;

}
@media (min-width: 381px) and (max-width: 709px) {
	.footer .alignment { justify-content: space-around; }
}
.footer .archive { text-align: right; }
.footer .archive .label { margin-bottom: 0.5em; }
.footer .buttons {
	display: flex;
	flex-direction: column;
}
.footer .buttons > a:not(:first-child) { margin-top: 0.5em; }
.footer .derive_logo {
	max-width: 10em;
	margin-bottom: 0.5em;
}
@media (max-width: 709px) {
	.footer .derive_desktop { display: none; }
}
.footer .derive_mobile {
    margin: 0 auto;
    max-width: 1220px;
    padding: 1.8em;
	text-align: center;
}
@media (min-width: 710px) {
	.footer .derive_mobile { display: none; }
}
.gallery {
    height: 0;
    padding-top: 56.25%; /* 900px / 1600px * 100% */
    position: relative;
    width: 100%;
}
.gallery > div {
    background-position: center center;
    background-size: cover;
    height: 0;
    left: 0;
    overflow: hidden;
    padding-top: 56.25%; /* 900px / 1600px * 100% */
    position: absolute;
    top: 0;
    transition: opacity 2s ease;
    width: 100%;
}
@media (min-width: 745px) {
	.header { background-color: var(--color-accent); }
}
.header .alignment_desktop {
	align-items: center;
	display: flex;
	justify-content: flex-end;
    margin: 0 auto;
    max-width: 1280px;
    padding: 1.8em;
}
@media (max-width: 744px) {
	.header .alignment_desktop { display: none; }
}
.header .alignment_desktop > a:not(:first-child) { margin-left: 1.6em; }
.header .alignment_desktop a.language { color: var(--color-white); }
.header .alignment_desktop a.language:hover { color: var(--color-black); }
.header .alignment_mobile {
    margin: 0 auto;
	padding: 1em;
	position: fixed;
	right: 0;
	text-align: right;
	top: 0;
	width: calc(100vw - 2em);
	z-index: 9;
}
@media (min-width: 745px) {
	.header .alignment_mobile { display: none; }
}
.header .alignment_mobile a.language {
	color: var(--color-black);
	margin-left: .5em;
	margin-top: 1em !important;
}
.header .alignment_mobile a.language:hover { color: var(--color-accent); }
.header .alignment_mobile .backdrop {
	background-color: var(--color-accent);
	border-bottom: .4em solid #000;
	height: 3.6em;
	left: 0;
	opacity: 0;
	position: fixed;
	text-align: left;
	top: 0;
	transition: opacity .2s ease;
	width: 100vw;
	z-index: -1;
}
.header .alignment_mobile .logo {
	margin-left: 1.9em;
	margin-top: .6em;
	width: 8em;
}
.header .alignment_mobile .toggle_menu {
	align-items: flex-start;
	display: none;
	flex-direction: column;
	margin-top: 2.4em;
	padding-right: 0.8em;
}
.header .alignment_mobile .toggle_menu.visible { display: flex; }
.header .alignment_mobile .toggle_menu .indented {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	padding-right: 0.8em;
}
.header .alignment_mobile .toggle_menu *:not(:first-child) { margin-top: .4em; }
.header .hover_menu_trigger { z-index: 9; }
.hover_menu {
	display: none;
	flex-direction: column;
	left: 0;
	padding-left: 0.8em;
	position: absolute;
}
.hover_menu_trigger { position: relative; }
.hover_menu_trigger:hover .hover_menu { display: flex; }
.indented { padding-left: 15px; }
.margin_y_0 {
    margin-top: 0;
    margin-bottom: 0;
}
.margin_y_0_5 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.margin_y_2_0 {
    margin-top: 2em;
    margin-bottom: 2em;
}
.participants { color: var(--color-accent); }
.participants a { color: var(--color-black); }
.participants a:hover { color: var(--color-accent); }
.participants .letter {
    display: flex;
    justify-content: flex-start;
    padding-left: 5em;
}
.participants .letter  > div:first-child { width: 1.5em; }
.partition {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.rounded_rect {
    border-radius: .6em;
    padding: .1em .5em;
}
.scroll_to_top {
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;
}
.scroll_to_top a { display: inline-block; }
.scroll_to_top a img { height: 2em; }
.text_align_right { text-align: right; }