:root {
    --color-black: #000000;
    --color-green: #37a93f;
    --color-grey: #6f7375;
    --color-white: #ffffff;
    --color-white-overlay: rgba(255, 255, 255, 0.9);
    --color-yellow: #ffff00;
}
@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Jost-400-Book.woff') format('woff');
}
@font-face {
    font-family: 'Jost';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/Jost-400-BookItalic.woff') format('woff');
}
@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Jost-500-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Jost-600-Semi.woff') format('woff');
}
.color_black { color: var(--color-black); }
.color_green { color: var(--color-green); }
.color_grey { color: var(--color-grey); }
.color_white { color: var(--color-white); }
body,
button,
input,
textarea {
    font-family: 'Jost';
	font-size: 18px;
}
body {
    background: var(--color-white);
    color: var(--color-black);
    margin: 0;
}
body.slim {
	background: var(--color-green);
	color: var(--color-white);
}
body.slim h1 { color: var(--color-white); }
a {
    color: var(--color-green);
	text-decoration: none;
}
a:hover { color: var(--color-black); }
h1, h2, h3 { word-break: break-word; }
h1 {
    color: var(--color-green);
    font-size: 1.9em;
    font-weight: 500;
    margin-bottom: 1.4em;
}
h2 {
    color: var(--color-green);
    font-size: 1.7em;
    font-weight: 500;
}
h3 {
    color: var(--color-green);
    font-size: 1.3em;
    font-weight: 600;
}
h3 + h2 { margin-top: -0.5em; }
hr {
	background: var(--color-green);
    border: none;
	height: 0.8em;
    margin-bottom: 2em;
}
hr.hairline {
    height: 1px;
    margin-bottom: 0.25em;
    margin-top: 0.25em;
}
strong { font-weight: 600; }
a.button_rect_black {
    background: var(--color-black);
    color: var(--color-white);
}
a.button_rect_black:hover {
    background: var(--color-white);
    color: var(--color-black);
}
a.button_rect_black_faux {
    background: var(--color-black);
    color: var(--color-white);
}
a.button_rect_green {
    background: var(--color-green);
    color: var(--color-white);
}
a.button_rect_green:hover { background: var(--color-black); }
a.button_rect_white {
    background: var(--color-white);
    color: var(--color-black);
}
a.button_rect_white:hover {
    background: var(--color-black);
    color: var(--color-white);
}
button.button_rect_white {
    background: var(--color-white);
    border: none;
    color: var(--color-black);
    cursor: pointer;
}
button.button_rect_white:hover {
    background: var(--color-black);
    color: var(--color-white);
}
input[type="checkbox"] { display: none; }
label.slider_white {
    background: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 4.6em;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    height: 1.5em;
    margin-right: 0.5em;
    position: relative;
    top: 0.4em;
    width: 2.5em;
}
label.slider_white .nub {
    background: var(--color-black);
    border-radius: 4.6em;
    display: inline-block;
    height: 1.3em;
    left: 0.1em;
    position: absolute;
    top: 0.1em;
    transition: background-color ease 0.02s, left ease 0.02s;
    width: 1.3em;
}
input:checked + label.slider_white .nub {
    background: var(--color-green);
    left: 1.1em;
}
input.input_rect_green {
    background: var(--color-white);
    border: 1px solid var(--color-green);
    color: var(--color-black);
    display: block;
    width: 100%;
}
input.input_rect_green::placeholder {
    color: var(--color-green);
    opacity: 1;
}
input.input_rect_white {
    background: var(--color-white);
    border: 1px solid var(--color-black);
    color: var(--color-black);
    display: block;
    width: `100%;
}
.banner_small {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1220px;
    padding: 1.8em;
}
.banner_small .info { line-height: 1.3em; }
@media (max-width: 620px) {
    .banner_small .info { display: none; }
}
.banner_small .logo_static { max-width: 100%; }
.banner_small .logo_wrapper { max-width: 310px; }
@media (max-width: 500px) {
    .banner_small .logo_wrapper {
        min-height: 20vw;
        width: 70vw;
    }
}
.banner_small .slogan { max-height: 4rem; }
@media (max-width: 890px) {
    .banner_small .slogan { display: none; }
}
.banner_small_standard { color: var(--color-green); }
.banner_small_alternate { color: var(--color-white); }
.banner_large {
    background: var(--color-green);
    color: var(--color-white);
    margin-bottom: min(31vw, 25rem);
}
.banner_large .alignment {
    margin: 0 auto;
    max-width: 76.25rem;
    padding: 1.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: max(-34%, -26rem);
}
.banner_large .alignment > * { min-height: 0; }
.banner_large .alignment img { max-width: 75%; }
.banner_large .alignment .info {
    font-size: min(4vw, 3rem);
    display: flex;
    justify-content: space-between;
    line-height: 1.3em;
    margin-top: .3em;
    width: 75%;
}
.banner_large .alignment .logo_static { max-width: 75%; }
.banner_large .alignment .logo_wrapper {
    padding-bottom: 5%;
    padding-top: 19.56521739130%; /* 180px / 920px * 100% */
    position: relative;
}
.banner_large .alignment .sujet { margin-bottom: -11em; }
@media (max-width: 900px) {
    .banner_large .alignment .sujet { margin-bottom: -8em; }
}
@media (max-width: 500px) {
    .banner_large .alignment .sujet { margin-bottom: -10em; }
}
@media (max-width: 300px) {
    .banner_large .alignment .sujet { margin-bottom: -12em; }
}
.content {
    flex: 1;
    margin: 0 auto;
    max-width: 1160px;
    padding: 1.8em;
}
.content img { max-width: 100%; }
@media (max-width: 744px) {
	.content { padding-top: 0; }
}
.dim_overlay { display: none; }
@media (max-width: 744px) {
	.dim_overlay.visible {
		background: var(--color-white-overlay);
		display: block;
		height: 100vh;
		left: 0;
		position: fixed;
		top: 0;
		width: 100vw;
		z-index: 4;
	}
}
.event {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 2fr 3fr;
}
@media (max-width: 869px) {
    .event { grid-template-columns: 1fr; }
}
.event_details { position: relative; }
.event_category_tag {
    position: absolute;
    right: 0;
    top: 0;
}
.event_download {
    display: flex;
    align-items: center;
}
.event_download img {
    margin-right: 1em;
    position: relative;
    top: -0.1em;
    width: 1.5em;
}
@media (max-width: 869px) {
    .event_image_desktop { display: none; }
}
@media (min-width: 870px) {
    .event_image_mobile { display: none; }
}
@media (min-width: 740px) {
	.extra_indent { margin: 1.5em; }
	.extra_indent.hr_exclude hr {
		margin-left: -1.5em;
		margin-right: -1.5em;
	}
}
.features img { width: 100%; }
.features.alignment_desktop {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
}
@media (max-width: 699px) {
    .features.alignment_desktop { display: none; }
}
@media (min-width: 700px) {
    .features.alignment_mobile { display: none; }
}
.feature {
    margin-bottom: 4em;
    margin-top: 2em;
}
.feature:hover {
    background: var(--color-green);
    color: var(--color-white);
}
.feature:hover a { color: var(--color-white); }
.feature:hover hr { background: var(--color-black); }
.feature:hover hr.hairline { background: var(--color-white); }
.feature:hover .color_green { color: var(--color-white); }
.filter_alignment {
    display: flex;
    justify-content: flex-start;
}
@media (max-width: 819px) {
    .filter_alignment { flex-direction: column; }
    .filter_alignment > span:not(:first-child) { margin-top: 0.5em; }
    .filter_alignment > span:not(:last-child) {
        max-width: 100%;
        width: 0;
    }
}
@media (min-width: 820px) {
    .filter_alignment { align-items: center; }
    .filter_alignment > span:not(:first-child) { margin-left: 1.6em; }
}
.flex_split_lr {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 430px) {
    .flex_split_collapse_430 { flex-direction: column; }
}
@media (max-width: 760px) {
    .flex_split_collapse_760 { flex-direction: column; }
}
.font_size_0_8 { font-size: 0.8em; }
.font_size_1_2 { font-size: 1.2em; }
.font_size_1_3 { font-size: 1.3em; }
.font_size_1_6 { font-size: 1.6em; }
.font_weight_500 { font-weight: 500; }
footer {
	background: var(--color-green);
  	color: var(--color-white);
}
footer a { color: var(--color-white); }
footer a:hover { color: var(--color-yellow); }
footer .alignment {
	display: flex;
	justify-content: space-between;
    margin: 0 auto;
    max-width: 1220px;
    padding: 2.8em 1.8em 1.8em 1.8em;
	text-align: center;

}
@media (min-width: 381px) and (max-width: 709px) {
	footer .alignment { justify-content: space-around; }
}
footer .archive a {
    background: var(--color-white);
    border-radius: .6em;
    color: var(--color-black);
    line-height: 1.7rem;
    padding-inline: .5em;
    white-space: nowrap;
}
footer .archive a:hover {
    background: var(--color-black);
    color: var(--color-white);
}
footer .archive > div {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    row-gap: 1px;
}
footer .archive summary {
    background: var(--color-black);
    border-radius: .6em;
    color: var(--color-white);
    cursor: pointer;
    font-size: 1.3rem;
    list-style: none;
    margin-bottom: .1rem;
    padding: .1em .5em;
}
footer .archive summary:focus-visible,
footer .archive summary:hover {
    background: var(--color-white);
    color: var(--color-black);
}
footer a.button_circle {
    align-items: center;
    background: var(--color-black);
    border-radius: 50%;
    color: var(--color-white);
    display: inline-flex;
    font-size: 1.6rem;
    justify-content: center;
    margin: .14em;
}
footer a.button_circle:focus-visible,
footer a.button_circle:hover {
    background: var(--color-white);
    color: var(--color-black);
}
footer a.button_circle svg {
    padding: .2em;
}
footer .buttons {
	display: flex;
	flex-direction: column;
}
footer .buttons a {
    background: var(--color-black);
    border-radius: .6em;
    color: var(--color-white);
    padding: .1em .5em;
    font-size: 1.3rem;
}
footer .buttons a:focus-visible,
footer .buttons a:hover {
    background: var(--color-white);
    color: var(--color-black);
}
footer .buttons > a:not(:first-child) { margin-top: 0.5em; }
footer .logo {
	max-width: 10em;
	margin-bottom: 0.5em;
}
@media (max-width: 709px) {
	footer .derive_desktop { display: none; }
}
footer .derive_mobile {
    margin: 0 auto;
    max-width: 1220px;
    padding: 1.8em;
	text-align: center;
}
@media (min-width: 710px) {
	footer .derive_mobile { display: none; }
}
.gallery {
    height: 0;
    padding-top: 56.25%; /* 900px / 1600px * 100% */
    position: relative;
    width: 100%;
}
.gallery > div {
    background-position: center center;
    background-size: cover;
    height: 0;
    left: 0;
    overflow: hidden;
    padding-top: 56.25%; /* 900px / 1600px * 100% */
    position: absolute;
    top: 0;
    transition: opacity 2s ease;
    width: 100%;
}
@media (min-width: 745px) {
	header { background: var(--color-green); }
}
header .alignment_desktop {
	align-items: center;
	display: flex;
	justify-content: flex-end;
    margin: 0 auto;
    max-width: 1280px;
    padding: 1.8em;
}
@media (max-width: 744px) {
	header .alignment_desktop { display: none; }
}
header .alignment_desktop > a:not(:first-child) { margin-left: 1.6em; }
header .alignment_desktop a.language { color: var(--color-black); }
header .alignment_desktop a.language:hover { color: var(--color-yellow); }
header .alignment_desktop a.button_rect {
    background: var(--color-white);
    color: var(--color-black);
}
header .alignment_desktop a.button_rect:hover {
    background: var(--color-black);
    color: var(--color-white);
}
header .alignment_mobile {
    margin: 0 auto;
	padding: 1em;
	position: fixed;
	right: 0;
	text-align: right;
	top: 0;
	width: calc(100vw - 2em);
	z-index: 9;
}
@media (min-width: 745px) {
	header .alignment_mobile { display: none; }
}
header .alignment_mobile .backdrop {
	background: var(--color-green);
	border-bottom: .4em solid #000;
	height: 3.6em;
	left: 0;
	opacity: 0;
	position: fixed;
	text-align: left;
	top: 0;
	transition: opacity .2s ease;
	width: 100vw;
	z-index: -1;
}
header .alignment_mobile a.button_circle {
    align-items: center;
    background: var(--color-black);
    border-radius: 50%;
    color: var(--color-white);
    display: inline-flex;
    font-size: 1.3rem;
    justify-content: center;
    padding: .3em;
}
header .alignment_mobile a.button_circle:hover {
    background: var(--color-green);
    color: var(--color-black);
}
header .alignment_mobile .logo {
	margin-left: 1.9em;
	margin-top: .6em;
	width: 8em;
}
header .hover_menu_trigger { z-index: 9; }
header .toggle_menu {
    align-items: flex-start;
    display: none;
    flex-direction: column;
    margin-top: 2.4em;
    padding-right: .8em;
}
header .toggle_menu.visible { display: flex; }
header .toggle_menu a:not(.language) {
    background: var(--color-green);
    border-radius: .6em;
    color: var(--color-white);
    font-size: 1.2rem;
    padding: .1em .5em;
}
header .toggle_menu a:not(.language):focus-visible,
header .toggle_menu a:not(.language):hover {
    background: var(--color-black);
}
header .toggle_menu .indented {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-right: 0.8em;
}
header .toggle_menu .indented a {
    background: var(--color-black);
    color: var(--color-white);
}
header .toggle_menu .indented a:focus-visible,
header .toggle_menu .indented a:hover {
    background: var(--color-green);
    color: var(--color-white);
}
header .toggle_menu a.language {
    color: var(--color-black);
    margin-left: .5em;
    margin-top: 1em !important;
}
header .toggle_menu a.language:hover { color: var(--color-green); }
header .toggle_menu *:not(:first-child) { margin-top: .4em; }
.hover_menu {
	display: none;
	flex-direction: column;
	left: 0;
	padding-left: 0.8em;
	position: absolute;
}
.hover_menu_trigger { position: relative; }
.hover_menu_trigger:hover .hover_menu { display: flex; }
.indented { padding-left: 15px; }
.margin_y_0 {
    margin-top: 0;
    margin-bottom: 0;
}
.margin_y_0_5 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.margin_y_2_0 {
    margin-top: 2em;
    margin-bottom: 2em;
}
.participants { color: var(--color-green); }
.participants a { color: var(--color-black); }
.participants a:hover { color: var(--color-green); }
.participants .letter {
    display: flex;
    justify-content: flex-start;
    padding-left: 5em;
}
.participants .letter  > div:first-child { width: 1.5em; }
.partition {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.rounded_rect {
    border-radius: .6em;
    padding: .1em .5em;
    white-space: nowrap;
}
.scroll_to_top {
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;
}
.scroll_to_top a {
    color: var(--color-green);
    font-size: 2.25rem;
}
svg {
    fill: currentColor;
    height: 1em;
    width: 1em;
}
.text_align_right { text-align: right; }
