.background {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: absolute;
  width: 100vw;
}

.link {
  outline: none;
}

.sujet {
  max-height: 100vh;
}
