.syntax--eno.syntax--name {
  color: #ff5370;
}

.syntax--eno.syntax--name.syntax--attribute {
  color: #c959e2;
}

.syntax--eno.syntax--punctuation.syntax--name.syntax--attribute {
  color: #ff2f95;
}

.syntax--eno.syntax--punctuation.syntax--list.syntax--value {
  color: #ff2f95;
}

.syntax--eno.syntax--single-value {
  color: #ff2f95;
}

.syntax--eno.syntax--section.syntax--first-level {
  color: #ffb500;
}

.syntax--eno.syntax--section.syntax--second-level {
  color: #ff3f00;
}

.syntax--eno.syntax--section.syntax--third-level-plus {
  color: #ff00ac;
}

.syntax--eno.syntax--reference {
  color: #b2d218;
}
