@use 'colors';

.article-panel {
  background-color: colors.$almost-white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  padding: 2em;
}

.article-panel__info {
  width: calc(50% - 2em);
}

.article-panel__abstract {
  width: 50%;
}

.article-panel__info-split {
  display: flex;
  justify-content: space-between;
}

.article-panel__info-cover {
  width: 45%;
}

.article-panel__info-details {
  width: 50%;
}
