@use 'colors';

body,
button,
input,
select,
textarea {
  font-family: 'FunctionPro-Book';
  font-size: 18px;

  @media (max-width: 420px) {
    font-size: 17px;
  }

  @media (max-width: 360px) {
    font-size: 16px;
  }
}

body {
  background-color: colors.$beige;
  color: colors.$text;
  margin: 0;
  overflow: hidden;
}

a {
  color: colors.$text;
  cursor: pointer;
  text-decoration-color: colors.$grey;

  &:hover {
    text-decoration-color: colors.$text;
  }
}

.a__no-underline {
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid #979797;
  height: 0;
}

.hr__light {
  border-top: 1px solid #d3cfcd;
}

img {
  max-width: 100%;
}

small {
  display: block;
}

strong {
  font-family: 'FunctionPro-Medium';
  font-weight: 400;
}
