@import './colors.scss';

body,
button,
input,
select,
textarea {
  font-family: 'FunctionPro-Book';
  font-size: 18px;
}

body {
  background-color: $color-beige;
  color: $color-text;
  margin: 0;
  overflow: hidden;
}

a {
  color: $color-text;
  cursor: pointer;
  text-decoration-color: $color-grey;

  &:hover {
    text-decoration-color: $color-text;
  }
}

.a__no-underline {
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid #979797;
  height: 0;
}

.hr__light {
  border-top: 1px solid #d3cfcd;
}

img {
  max-width: 100%;
}

small {
  display: block;
}

strong {
  font-family: 'FunctionPro-Medium';
  font-weight: 400;
}
