.generic__featured {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.generic__featured_image {
  width: calc(33% - 2em);
}

.generic__featured_image_wide {
  margin-right: 2em;
  width: calc(50% - 2em);
}

.generic__featured_text {
  width: 66%;
}

.generic__margin-vertical {
  margin: 1.5em 0;
}

.generic__no-top-margin {
  margin-top: 0;
}

.generic__center-aligned {
  text-align: center;
}

.generic__right-aligned {
  text-align: right;
}

.generic__smaller_text {
  font-size: 0.9em;
}

.generic__big_heading {
  font-family: "FunctionPro-Medium";
  font-size: 2.65em;
  word-wrap: break-word;

  a {
    text-decoration: none;
  }

  a:hover {
    border-bottom: 1px solid #000;
  }

  margin: 1em 0;
}

.generic__heading {
  font-family: "FunctionPro-Medium";
  font-size: 1.65em;
  word-wrap: break-word;

  a {
    text-decoration: none;
  }

  a:hover {
    border-bottom: 1px solid #000;
  }

  margin-bottom: 1em;
}

.generic__serif {
  font-family: 'Crimson Text';
}

.generic__subheading {
  font-family: "FunctionPro-Medium";
  font-size: 1.33em;
  word-wrap: break-word;

  a {
    text-decoration: none;
  }

  a:hover {
    border-bottom: 1px solid #000;
  }

  margin-bottom: .75em;
}
