.layout__content {
  flex-grow: 1;
  height: 100vh;
  position: relative;
}

.layout__header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}

.layout__offset {
  padding: 0 1.33em;
}

.layout__restraint {
  margin: 0 auto;
  max-width: 1300px;
}

.layout__scroll {
  height: 100%;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.layout__split {
  display: flex;
}
