.pagination {
  background-color: $color-almost-white;
  margin-bottom: 1.5em;
  padding: 1em;
  text-align: center;
}

.pagination--active {
  font-family: 'FunctionPro-Medium';
  font-weight: 400;
}
