.tiles {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
}

.tile {
  background-color: $color-almost-white;
  box-sizing: border-box;
  padding: 2em;
  width: calc((100% - 2.66em) / 3);

  &:hover {
    box-shadow: 0 0 2.66em rgba($color-shadow, 0.66);
  }

  &:nth-child(n+4) {
    margin-top: 1.33em;
  }

  @media (max-width: 960px) {
    width: calc((100% - 1.33em) / 2);

    &:nth-child(n+3) {
      margin-top: 1.33em;
    }
  }

  @media (max-width: 640px) {
    width: 100%;

    &:nth-child(n+2) {
      margin-top: 1.33em;
    }
  }
}

.tile--festival {
  padding: 0;
  transition: box-shadow 0.25s;

  &:hover {
    box-shadow: 0 0 2.66em rgba($color-shadow, 0.66);
  }

  img {
    display: block;
  }
}
